name: Twitter Behavior Check

on:
  push:
  pull_request:
  schedule:
    - cron: '10 1 * * *'

jobs:
  twitter_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: install requirements
      run: yarn install

    - name: get browsertrix image
      run:  docker pull webrecorder/browsertrix-crawler:0.3.0-beta.1

    - name: run crawl
      run: docker run webrecorder/browsertrix-crawler:0.3.0-beta.1 crawl --url https://www.iana.org/numbers --limit 1 --logging behaviors --behaviors autoplay,autofetch,autoscroll > ./log

    - name: cat log
      run: cat ./log

    - name: compare crawl log to expected
      run: grep '"msg"' ./log | diff - ./test/expected-autoscroll.log

