name: "Autoplay Behavior: Vimeo Embed"

on:
  push:
  pull_request:
  schedule:
    - cron: "12 16 * * *"

jobs:
  autoscroll_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: install requirements
        run: yarn install

      - name: build behaviors
        run: yarn run build

      - uses: c-py/action-dotenv-to-setenv@v2
        with:
          env-file: test/test.env

      - name: get browsertrix image
        run: docker pull $BROWSERTRIX_IMAGE

      - name: run crawl
        run: docker run -v $PWD/dist/behaviors.js:/app/node_modules/browsertrix-behaviors/dist/behaviors.js -v $PWD/crawls:/crawls $BROWSERTRIX_IMAGE crawl --url https://oembed.link/https://vimeo.com/1084537 --limit 1 --generateCDX --collection test

      - name: check mp4 capture
        run: grep '"video/mp4"' ./crawls/collections/test/indexes/index.cdxj
