name: Twitter Behavior

on:
  push:
  pull_request:
  schedule:
    - cron: '10 16 * * *'

jobs:
  twitter_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: install requirements
      run: yarn install

    - name: build behaviors
      run: yarn run build

    - uses: c-py/action-dotenv-to-setenv@v2
      with:
        env-file: test/test.env

    - name: get browsertrix image
      run:  docker pull $BROWSERTRIX_IMAGE

    - name: run crawl
      run: docker run -v $PWD/dist/behaviors.js:/app/node_modules/browsertrix-behaviors/dist/behaviors.js $BROWSERTRIX_IMAGE crawl --url https://twitter.com/CaptureSample --limit 1 --logging behaviors > ./log

    - name: cat log
      run: cat ./log

    - uses: sergeysova/jq-action@v2
      name: compare crawl log to expected
      with:
        cmd: cat log
          | jq -Rr -c 'fromjson? | .details | select(type == "object") | {msg,state} | select(.msg != null) | select(.msg | contains("?cxt") | not)'
          | diff - ./test/expected-twitter.log
