name: "Autoplay Behavior: YouTube Embed"

on:
  push:
  pull_request:
  schedule:
    - cron: '10 1 * * *'

jobs:
  autoscroll_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: install requirements
      run: yarn install

    - name: get browsertrix image
      run:  docker pull webrecorder/browsertrix-crawler

    - name: run crawl
      run: docker run -v $PWD/dist/behaviors.js:/app/node_modules/browsertrix-behaviors/dist/behaviors.js -v $PWD/crawls:/crawls webrecorder/browsertrix-crawler crawl --url https://oembed.link/https://www.youtube.com/watch?v=aT-Up5Y4uRI --limit 1 --generateCDX --collection test

    - name: check mp4 capture
      run: grep '"video/mp4"' ./crawls/collections/test/indexes/index.cdxj

